.wheel {
  max-width: 80%;
}

.wheel__container {
  position: relative;
  display: flex;
  max-width: 350px;
  background: linear-gradient(180deg, #3496DF 11.29%, #016CB9 94.98%);
  box-shadow: 1px 5px 4px 0px #1B379F inset;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px;
}

.wheel__image {
  width: 100%;
  margin: auto;
  transition: 4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.wheel__pin {
  position: absolute;
  z-index: 10000;
  left: 50%;
  top: 5%;
  height: 30px;
}