@import url("./vendor/fonts.css");
@import url("./vendor/normalize.css");

.page {
  position: relative;
  font-family: 'Luckiest Guy', Arial, sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  background-color: #001583;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__content {
  max-width: 1000px;
  max-height: 800px;
  width: 100%;
  height: 100%;
  background: radial-gradient(79.62% 85.48% at 50% 50%, #75BDFF 0%, #020065 100%);
  box-sizing: border-box;
}



@import url("./components/header/header.css");

@import url("./components/wheel/wheel.css");